{% extends 'base.html' %}

{% block title %}
    {{ archer.get_name() + ' - University of Warwick Archery Club' }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive-tables.css') }}"/>
{% endblock %}

{% block main_content %}
    <div id="top" class="row">
    {% include "site/search-form.html" %}
    </div>
    <div class="row">
        <div class="small-12 columns">
            <section>
                <h1>Scores for {{ archer.get_name() }}</h1>
                <h4>Jump to:</h4>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="#{{ category['div_name'] | lower | strip_spaces | urlencode }}">{{ category['div_name'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="bottom-divider pad-bottom px-5"><strong>Note:</strong> Any classification with an asterix (<strong>*</strong>) needs to have been shot at a record-status event.</p>
            </section>
            {% for category in categories %}
                <section>
                    <a href="/records/round/{{ category["round_id"] }}">
                        <h3 id="{{ category['div_name'] | lower | strip_spaces | urlencode }}">{{ category['div_name'] }}</h3>
                    </a>
                    <table class="responsive full-width sortable">
                        <thead>
                        <tr>
                            <th class="{sorter: 'scores'} sort-header sort-ascending">Score</th>
                            <th class="sort-header">Hits</th>
                            <th class="sort-header">Golds</th>
                            <th class="sort-header">Xs</th>
                            <th class="sort-header reverse">Experience</th>
                            <th>Classification</th>
                            <th class="sort-header">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for score in category['scores'] %}
                            <tr>
                                <td>{{ score['score'] }}<span class="fade">/{{ category['max_score'] }}</span></td>
                                <td>{{ score['num_hits'] }}</td>
                                <td>{{ score['num_golds'] }}</td>
                                <td>{{ score['num_xs'] }}</td>
                                <td>{{ score['category'] }}</td>
                                <td>{{ score['classification'] if score['classification'] else 'None' }}</td>
                                <td>{{ score['date'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="text-right"><a href="#top"><i class="fa fa-chevron-up"></i> Back to the top</a></p>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var class_column = 5;
        var csrftoken = "{{ csrf_token() }}"
    </script>
    <script src="{{ url_for('static', filename='js/responsive-tables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search-autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sort-tables.js') }}"></script>
{% endblock %}