{% extends 'base.html' %}

{% block title %}
    {{ event.name + ' on ' + date + ' - University of Warwick Archery Club' }}
{% endblock %}

{% block main_content %}
    {% include "site/search-form.html" %}
    <div class="row">
        <div class="small-12 columns">
            <section>
                <h1>{{ event.name }} on {{ date }}</h1>
                <h4>Jump to:</h4>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a class="category-link"
                               href="#{{ category['div_name'] | lower | strip_spaces }}">{{ category['div_name'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="bottom-divider pad-bottom px-5"><strong>Note:</strong> Any classification with an asterix (<strong>*</strong>) needs to have been shot at a record-status event.</p>
            </section>
            {% for category in categories %}
                <section>
                    <a href="/records/round/{{ category["round_id"] }}">
                        <h3 id="{{ category['div_name'] | lower | strip_spaces }}">{{ category['div_name'] }}</h3>
                    </a>
                    <table class="full-width sortable">
                        <thead>
                        <tr>
                            <th class="sort-header reverse">Name</th>
                            <th class="{sorter: 'scores'} sort-header sort-ascending">Score</th>
                            <th class="sort-header">Hits</th>
                            <th class="sort-header">Golds</th>
                            <th class="sort-header">Xs</th>
                            <th class="sort-header reverse">Experience</th>
                            <th>Classification</th>
                            <th class="sort-header">Date</th>
                            {% if current_user.is_authenticated %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for score in category['scores'] %}
                            <tr>
                                <td><a href="/records/archer/{{ score.archer_id }}">{{ score.archer.get_name() }}</a></td>
                                <td>{{ score['score'] }}<span class="fade">/{{ category['max_score'] }}</span></td>
                                <td>{{ score['num_hits'] }}</td>
                                <td>{{ score['num_golds'] }}</td>
                                <td>{{ score['num_xs'] }}</td>
                                <td>{{ score['category'] }}</td>
                                <td>{{ score['classification'] if score['classification'] else '' }}</td>
                                <td>{{ score['date'] }}</td>
                                {% if current_user.is_authenticated %}
                                    <td>
                                        <a class="admin-action"
                                           href="{{ url_for('admin.edit_score', score_id=score.id) }}?next={{ request.path | urlencode }}"><i
                                                class="fa fa-pencil"></i> Edit</a>
                                        <a class="admin-action"
                                           href="{{ url_for('admin.delete_score', score_id=score.id) }}?next={{ request.path | urlencode }}"><i
                                                class="fa fa-trash"></i> Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="text-right"><a class="category-link" href="#top"><i class="fa fa-chevron-up"></i> Back to
                        the top</a></p>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var class_column = 6;
        var csrftoken = "{{ csrf_token() }}"
    </script>
    <script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/records-search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sort-tables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chutney.js') }}"></script>
{% endblock %}
