{% extends 'base.html' %}

{% block title %}University of Warwick Archery Club: Records{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive-tables.css') }}"/>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div>
            <h1 id="browse-tab" class="small-6 columns form-tab text-left active"><a href="#browse">Browse</a></h1>

            <h1 id="submit-tab" class="small-6 columns form-tab text-right"><a href="#submit">Submit</a></h1>
        </div>
        {% include "site/search-form.html" %}
        <div class="small-12 columns" id="submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <form>
                <div class="row">
                    <div class="small-12 columns">
                        <h5>Score details</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 columns">
                                <span class="prefix">Archer</span>
                            </div>
                            <div class="small-10 columns">
                                <select id="archer-select" class="select2" data-placeholder="Select an archer" data-width="100%" data-ajax--url="/api/suggestions/archers"></select>
                            </div>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 columns">
                                <span class="prefix">Round</span>
                            </div>
                            <div class="small-10 columns">
                                <select id="round-select" class="select2" data-placeholder="Select a round" data-width="100%" data-ajax--url="/api/suggestions/rounds"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 medium-3 columns">
                                <span class="prefix">Event</span>
                            </div>
                            <div class="small-10 medium-9 columns">
                                <select id="event-select" class="select2" data-placeholder="Select an event" data-width="100%" data-ajax--url="/api/suggestions/events"></select>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 medium-3 columns">
                                <span class="prefix">Style</span>
                            </div>
                            <div class="small-10 medium-9 columns">
                                <select>
                                    {% for bow in bow_types %}
                                        <option value="{{ bow.id }}">{{ bow.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 columns end">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 medium-3 columns">
                                <span class="prefix">Date</span>
                            </div>
                            <div class="small-10 medium-9 columns">
                                <input type="date" id="date-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 medium-3 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Hits</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="number" id="score-hits" value="0" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="small-6 medium-3 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Score</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="number" id="score-score" value="0" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="small-6 medium-3 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Golds</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="number" id="score-golds" value="0" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="small-6 medium-3 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-3 columns">
                                <span class="prefix">Xs</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="number" id="score-xs" placeholder="" min="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <button class="button radius small pull-right" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h1>Club records</h1>
            <ul class="tabs" data-tab>
                <li class="tab-title active"><a href="#indoors">Indoors</a></li>
                <li class="tab-title"><a href="#outdoors">Outdoors</a></li>
            </ul>
            <div class="tabs-content">
                <div class="content active" id="indoors">
                    <h3 class="bottom-divider">Individual</h3>

                    <div class="row">
                        <div class="small-12 columns">
                            <table class="responsive full-width">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Round</th>
                                    <th>Score/Golds</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for score in indoor_indiv_scores %}
                                    <tr>
                                        <td>{{ score.archer_name }}</td>
                                        <td>{{ score.round_name }}</td>
                                        <td>{{ "{}/{}".format(score.score, (score.num_golds if score.num_golds else 0)) }}</td>
                                        <td>{{ "{} {} {}".format(score.category, ("Gents" if score.gender == 'M' else "Ladies"), score.bow_type) }}</td>
                                        <td>{{ score.date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="bottom-divider">Team</h3>
                </div>
                <div class="content" id="outdoors">
                    <h3 class="bottom-divider">Individual</h3>

                    <div class="row">
                        <div class="small-12 columns">
                            <table class="responsive full-width">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Round</th>
                                    <th>Score/Golds</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for score in outdoor_indiv_scores %}
                                    <tr>
                                        <td>{{ score.archer_name }}</td>
                                        <td>{{ score.round_name }}</td>
                                        <td>{{ "{}/{}".format(score.score, (score.num_golds if score.num_golds else 0)) }}</td>
                                        <td>{{ "{} {} {}".format(score.category, ("Gents" if score.gender == 'M' else "Ladies"), score.bow_type) }}</td>
                                        <td>{{ score.date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 class="bottom-divider">Team</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}"
    </script>
    <script src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search-autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/records-search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive-tables.js') }}"></script>
{% endblock %}