{% extends 'base.html' %}

{% block title %}
    {{ 'Admin Dashboard - University of Warwick Archery Club' }}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="small-12 columns">
            {% with messages = get_flashed_messages(category_filter=['score']) %}
                {% if messages %}
                    {% for msg in messages %}
                        {% if 'success' in msg %}
                            <div data-alert class="alert-box success radius">
                                {{ msg }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        {% else %}
                            <div data-alert class="alert-box alert radius">
                                {{ msg }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <section>
                <h1>Admin Dashboard</h1>
                <h4>Actions:</h4>
            </section>
            <section>
                <ul>
                    <li><a href="{{ url_for('admin.approve_scores') }}">Approve/reject archer's scores</a></li>
                    <li><a href="{{ url_for('admin.export_scores') }}">Export scores over time period</a></li>
                    <li><a href="{{ url_for('admin.import_members') }}">Import members</a></li>
                    <li><a href="{{ url_for('site.home') }}">Edit scores</a></li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}