{% extends 'base.html' %}

{% block title %}
    {{ 'Admin Login - University of Warwick Archery Club' }}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="small-12 columns">
            {% with messages = get_flashed_messages(category_filter=['error']) %}
                {% if messages %}
                    {% for msg in messages %}
                        <div data-alert class="alert-box alert radius">
                            {{ msg }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('admin.authenticate') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="row collapse">
                    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
                        <h3>Please log in below:</h3>

                        <div class="row">
                            <label>
                                Username
                                <input class="radius" name="username" id="username" type="text"/>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                Password
                                <input class="radius" name="password" id="password" type="password"/>
                            </label>
                        </div>
                        <input name="remember-me" id="remember-me" type="checkbox" value="1"><label for="remember-me">Remember
                        me</label>
                        <button class="button radius small pull-right" type="submit">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}